<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yiwo.fuzhoudian">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        —————————————————————网易云视频——————————————————————— -->
        <activity
            android:name=".wangyiyunshipin.ShortVideoEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".wangyiyunshipin.VideoImportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateUnchanged" />
        <activity
            android:name=".wangyiyunshipin.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- 用于HMS SDK引导升级HMS APK，提供给系统安装器读取升级文件 -->
        <activity android:name=".wangyiyunshipin.VideoUpLoadListActivity" />
<!--    ___________________________________________________________________________________________________-->
        <activity android:name=".pages.ShopHomeActivity"></activity>
        <activity android:name=".pages.creatyouji.CreateYouJiActivity"></activity>
        <activity android:name=".pages.creatyouji.CreateYouJiAddInfoActivity"></activity>
        <activity
            android:name="com.donkingliang.imageselector.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.donkingliang.imageselector.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.donkingliang.imageselector.ClipImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <service android:name=".services.UpdateService" />
        <activity android:name=".pages.SetActivity" />
        <activity android:name=".pages.FeedbackActivity" />
        <activity android:name=".pages.MyPicturesActivity" />
        <activity android:name=".imagepreview.ImagePreviewActivity" />
        <activity android:name=".pages.UserAgreementActivity" />
        <activity android:name=".pages.MyVideosActivity" />
        <activity android:name=".pages.BlackUserActivity" />
        <activity android:name=".pages.FindFriendByTelActivity" />
        <activity android:name=".pages.MyContactActivity" />
        <activity android:name=".pages.MyCommentActivity" />
        <activity
            android:name=".pages.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.ForgetPwActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="designwidth"
            android:value="750" />
        <meta-data
            android:name="designdpi"
            android:value="320" /> <!-- 位置 -->
        <meta-data
            android:name="fontsize"
            android:value="1.0" />
        <meta-data
            android:name="unit"
            android:value="px" />
<!--        网易-->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="dc4285450493b9851169ad13a64b4cd8" />
    </application>
    <permission
        android:name="com.yiwo.fuzhoudian.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />
    <permission
        android:name="com.yiwo.fuzhoudian.permission.PROCESS_PUSH_MSG"
        android:protectionLevel="signatureOrSystem" /> <!-- 多媒体相关 -->
    <permission
        android:name="com.yiwo.fuzhoudian.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动安装权限！！ -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" /> <!-- SDK 权限申明, 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <!-- 和下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- bugly -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 小米推送 权限 -->
    <!-- 配置权限，已经配置过的条目则无须添加 -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- <uses-permission android:name="android.permission.VIBRATE"/> -->
    <!-- 华为推送权限 -->
    <!-- HMS-SDK引导升级HMS功能，访问OTA服务器需要网络权限 -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- HMS-SDK引导升级HMS功能，保存下载的升级包需要SD卡写权限 -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- 检测网络状态 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> -->
    <!-- 检测wifi状态 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> -->
    <!-- 为了获取用户手机的IMEI，用来唯一的标识用户。 -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE"/> -->
    <!-- 如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
    <!-- <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> -->
    <!-- 接收PUSH TOKEN的广播以及PUSH消息需要定义该权限 ${PACKAGE_NAME} 要替换上您应用的包名 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 接收PUSH TOKEN的广播以及PUSH消息需要定义该权限 ${PACKAGE_NAME} 要替换上您应用的包名 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 以下两处 {你的包名} 改开发者App的包名 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 网易云短视频 -->
    <!-- 允许挂载和反挂载文件系统 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序使用PowerManager WakeLocks以防止处理器休眠或者屏幕锁屏 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 声明程序使用camera和自动对焦功能 -->
    <uses-permission android:name="com.yiwo.fuzhoudian.permission.RECEIVE_MSG" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 声明程序使用OpenGL ES 2.0 -->
    <uses-permission android:name="com.yiwo.fuzhoudian.permission.PROCESS_PUSH_MSG" />
    <uses-permission android:name="com.yiwo.fuzhoudian.permission.MIPUSH_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
</manifest>